* {
    font-family: 'Share Tech Mono', monospace;
    background-color:#5b96d5 ;
    
}

h2{
    font-size: 2rem;
    padding-left: 40%;
}
h6{
    padding-left: 30%;
}
.content{
    
    padding-inline-start: 30%;
}
#board, .boardInfo{
    max-width: 500px;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo{
    font-size: 25 px;
}

#gameOver{
    display: none;
}

.boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start{
    background-color: #5a5ff3;
    border: none;
    color: white;
}

#scoreBoard{
    display: inline-flex;
}

.square{
    aspect-ratio: 1;
}

.emptySquare{
    background-color: #095bb3;
}

.snakeSquare{
    background-color: #000000;
}

.foodSquare{
    background-color: #ffffff;
}